<div class="processing-overlay" *ngIf="processing">
  <div class="processing">
    <p
      class="info font-weight-500 margin-remove-bottom padding-left-m padding-right-m in-up"
    >
      Please wait, we are fetching awesome jobs for you!
    </p>
    <img class="in-up loading-image " src="./assets/banners/loading.svg" />
  </div>
</div>
<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #sideNavBar
    class="sidenav"
    [opened]="sideNavBarOpened"
    [mode]="screenSizeIsLtMedium ? 'over' : 'side'"
  >
    <div class="">
      <div class=" mat-primary-lite-background">
        <div
          class="flex flex-middle flex-between padding-top-l padding-bottom-l padding-left-l padding-right-xl"
        >
          <p class="margin-remove-bottom margin-top-xs font-weight-500 mat-h1">
            Filters
          </p>
          <button
            class="normal-button margin-top-xxs"
            (click)="toggleSidebar()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div class="margin-top-xl padding-left-l">
        <p class="font-weight-bold mat-primary-text mat-h2">Location</p>

        <mat-checkbox
          *ngFor="let location of locations"
          class="flex flex-column"
          (change)="locationToggle($event, location)"
          [checked] = locationsInList(location)
        >
          <span class="flex">
            <span class="mat-h4 margin-remove-bottom margin-top-xxs">
              {{ location }}
            </span>
          </span>
        </mat-checkbox>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="margin-top-xl margin-bottom-xl margin-left-xl margin-right-xl">
      <ng-container *ngIf="!processing">
        <div class="margin-top-l text-center">
          <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <mat-form-field
              appearance="outline"
              class="search_field"
              #searchfield
            >
              <mat-label>Search for Jobs</mat-label>

              <input
                matInput
                placeholder="Ex: Android developer"
                formControlName="search"
                autocomplete="off"
              />
              <button matSuffix type="submit">
                <mat-icon
                  aria-hidden="false"
                  color="primary"
                  aria-label="Search"
                  >search</mat-icon
                >
              </button>
            </mat-form-field>
          </form>
        </div>
        <div
          class="flex flex-b flex-middle result margin-left-l margin-right-l"
          *ngIf="!noData"
          [ngClass]="{ 'flex-end': sideNavBarOpened }"
        >
          <div
            class="flex flex-middle margin-left-xl"
            *ngIf="!sideNavBarOpened"
          >
            <p class="margin-remove-bottom margin-top-xxs">Show Filters</p>
            <mat-icon
              class="mat-primary-text margin-left-xxs cursor-pointer"
              (click)="toggleSidebar()"
              >filter_list</mat-icon
            >
            <mat-chip-list class = "margin-left-s">
              <ng-container *ngFor="let location of selectedLocations">
                <mat-chip
                  class="mat-chips padding-left-m padding-right-m"
                  color="primary"
                  selected
                  (click)="removeLocations(location)"
                >
                  {{ location }}
                  <mat-icon matChipRemove (click)="removeLocations(location)"
                    >cancel</mat-icon
                  >
                </mat-chip>
              </ng-container>
            </mat-chip-list>
          </div>
          <div class="flex flex-middle result">
            <p class="margin-remove-bottom margin-right-m">
              Showing {{ this.jobs.length }} results out of
              <ng-container *ngIf="searchQuery === ''">{{
                allJobs.length
              }}</ng-container>
              <ng-container *ngIf="searchQuery !== '' && !filtersApplied">{{
                searchJobs.length
              }}</ng-container>
              <ng-container *ngIf="searchQuery !== '' && filtersApplied">{{
                filterJobs.length
              }}</ng-container>
            </p>
            <mat-form-field appearance="outline">
              <mat-label>Select a value</mat-label>
              <form [formGroup]="optionForm" (ngSubmit)="onSubmit()">
                <mat-select
                  (selectionChange)="optionChanged($event.value)"
                  value="pagination"
                >
                  <mat-option value="30">30</mat-option>
                  <mat-option value="50">50</mat-option>
                  <mat-option value="80">80</mat-option>
                </mat-select>
              </form>
            </mat-form-field>
          </div>
        </div>
        <div class=" no-data" *ngIf="noData">
          <p class="mat-h1 mat-primary-text secondayyTypography margin-top-xl">
            Please check the search query
          </p>
          <img class="in-left " src="./assets/banners/no-data.svg" />
        </div>
        <div class="container">
          <ng-container *ngIf="!noData">
            <app-job-card
              *ngFor="let job of jobs"
              [jobData]="job"
            ></app-job-card>
          </ng-container>
        </div>
        <div
          class="margin-left-xl margin-right-xl margin-top-m margin-bottom-m flex flex-middle justify-center"
        >
          <div class="flex justify-center" *ngIf="!noData">
            <p
              class="margin-remove-bottom margin-top-m font-weight-500"
              *ngIf="pages.length !== 0"
            >
              Page
            </p>
            <div class="margin-left-m margin-right-m">
              <ng-container *ngIf="searchQuery === ''">
                <button
                  class="page-button padding-xs"
                  *ngFor="let page of pages"
                  [ngClass]="{
                    'mat-primary-text font-weight-bold': page === selectedPage
                  }"
                  (click)="pageChanged(page)"
                >
                  <p class="margin-remove-bottom margin-remove-top mat-h3">
                    {{ page }}
                  </p>
                </button>
              </ng-container>
              <ng-container *ngIf="searchQuery !== '' && !filtersApplied">
                <button
                  class="page-button "
                  *ngFor="let page of pages"
                  [ngClass]="{
                    'mat-primary-text font-weight-bold': page === selectedPage
                  }"
                  (click)="pageChanged(page)"
                >
                  {{ page }}
                </button>
              </ng-container>
              <ng-container *ngIf="searchQuery !== '' && filtersApplied">
                <button
                  class="page-button "
                  *ngFor="let page of pages"
                  [ngClass]="{
                    'mat-primary-text font-weight-bold': page === selectedPage
                  }"
                  (click)="pageChanged(page)"
                >
                  {{ page }}
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
