<div class="container">
  <div class="heading margin-left-xl grid padding-top-l padding-bottom-xl">
    <img class="margin-top-xs in-left " src="./assets/banners/home.svg" />
    <div class="information">
      <p class="title in-up">Find jobs and get placed</p>
      <p class="mat-h1 in-up">It's simple we will help you all the way</p>
      <p class = "in-up">
        <button mat-raised-button (click)= "searchJobs()">
          <span style="padding:8px">Let's Get Started!</span>
        </button>
      </p>
    </div>
  </div>
</div>
