@import "~src/styles/theme_mixins.scss";

.container {
  background: rgb(89, 81, 219);
  background: linear-gradient(
    21deg,
    rgba(89, 81, 219, 1) 0%,
    rgba(0, 234, 255, 1) 80%
  );

  //   height: 100%;
}

.heading {
  img {
    width: 500px;

    @media only screen and (max-width: 544px) {
      width: 400px;
    }

    @media only screen and (max-width: 436px) {
      width: 300px;
    }

    @media only screen and (max-width: 345px) {
      width: 250px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 0.8fr 1fr;

  @media only screen and (max-width: 772px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;

  @media only screen and (max-width: 772px) {
    margin-top: 20px;
  }
}

.title {
  font-size: 3em;
  font-family: Oswald;
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 32px;
}

.start-button {
  transition: 0.5s;
  padding: 4px;

  @media only screen and (max-width: 472px) {
    margin-top: 2rem !important;
  }
}

button {
  transition: 0.2s ease-out;
}

button:hover {
  color: #FF6F00;
}

//styles for card

.card-container {
  margin-top: 50px;
}

mat-card {
  background: none;
  border: none;
  height: 150px;
  width: 150px;

  mat-icon {
    font-size: 60px;
  }

  .info-font {
    font-size: 2rem;
  }
}

.info-text {
  margin-left: 60px;

  //   @media only screen and (max-width: 1024px) {
  // margin-left: 50px;
  // }

  @media only screen and (max-width: 772px) {
    margin-left: 16px;
  }
}

.hex-blocks {
  display: flex;
  margin-left: -30px;

  @media only screen and (max-width: 1264px) {
    flex-wrap: wrap;
  }

  // @media only screen and (max-width: 440px) {
  //   justify-content: center;
  // }
}

.hex-container {
  width: 250px;
  text-align: center;

  @media only screen and (max-width: 1033px) {
    width: 240px;
  }

  @media only screen and (max-width: 768px) {
    width: 200px;
  }

  @media only screen and (max-width: 635px) {
    width: 180px;
  }
}

.small-hex-container {
  display: flex;
  // flex-wrap: wrap;
  margin: 16px 0 32px 0;
  @media only screen and (max-width: 380px) {
    margin-left: -20px;
  }
}

.hex-wrap {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.small-hex-wrap {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 50px;

  @media only screen and (max-width: 480px) {
    margin: 0 30px;
  }
  @media only screen and (max-width: 359px) {
    margin: 0 20px;
  }
}

.small-hex-wrap:first-child {
  margin-left: 16px;
}

// .small-hex-wrap:last-child{
//     @media only screen and (max-width: 380px) {
//     margin-top: 60px;
//   }
// }

.hexagon {
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block;
  transition: 0.5s;

  mat-icon {
    position: absolute;
    top: 20px;
    font-size: 40pt !important;
    height: 48px;
    width: 48px;
    color: #fff;
    left: 24px;
    right: 0;
    z-index: 1;
  }
}

.hexagon:hover {
  background: rgba(233, 233, 233, 1);

  mat-icon {
    color: #3f51b5;
  }
}

.hexagon:before {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: "";
  transform: rotateZ(60deg);
}

.hexagon:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: "";
  transform: rotateZ(-60deg);
}

.small-hexagon {
  position: relative;
  width: 80px;
  height: 46.19px;
  margin: 23.09px 0;

  mat-icon {
    position: absolute;
    font-size: 40pt !important;
    height: 48px;
    left: 14px;
    width: 48px;
    bottom: 2px;
    color: #fff;
    right: 0;
    z-index: 1;
  }
}

.small-hexagon:before,
.small-hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  right: calc((100% / 2) - ((100% * 0.5)));
}

.small-hexagon:before {
  bottom: 100%;
  border-bottom: 23.09px solid #3f51b5;
}

.small-hexagon:after {
  top: 100%;
  width: 0;
  border-top: 23.09px solid #3f51b5;
}
