@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translatex(-40px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.in-left {
  animation-name: fadeInLeft;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translatex(50px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.in-right {
  animation-name: fadeInRight;
  animation-fill-mode: both;
  animation-duration: 1s;
  transition-delay: 5s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translatey(40px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.in-up {
  animation-name: fadeInUp;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translatey(-40px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.in-down {
  animation-name: fadeInDown;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.line-hover {
  height: 5px;
  width: 50px;
  background: #3f51bf;
  position: fixed;
  margin-top: 10px;
  border-radius: 2px 10px 1px 0;
  animation: fazer1 1s linear infinite;
}

.line-hover-right {
  height: 5px;
  width: 50px;
  background: #3f51bf;
  position: fixed;
  margin-top: 10px;
  border-radius: 2px 10px 1px 0;
  animation: fazer2 1s linear infinite;
}

.line-hover-white {
  height: 5px;
  width: 50px;
  background: #fff;
  position: fixed;
  margin-top: 10px;
  border-radius: 2px 10px 1px 0;
  animation: fazer1 1s linear infinite;
}



.line-hover-right-white {
  height: 5px;
  width: 50px;
  background: #fff;
  position: fixed;
  margin-top: 10px;
  border-radius: 2px 10px 1px 0;
  animation: fazer2 1s linear infinite;
}

@keyframes fazer1 {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
}

@keyframes fazer2 {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
    opacity: 0;
  }
}


.bg-pan {
  animation: bg-pan 8s both;
  height: auto;
}


@keyframes bg-pan {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
