// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "./themes.scss";
@import "./vars.scss";
@import "./utility.scss";
@import "./mixins.scss";
@import "./animations.scss";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($JobHaven-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: black;
  font-family: "Montserrat", sans-serif !important;
  // background: rgba(89, 81, 219, 0.95);
  background: linear-gradient(
    21deg,
    rgba(89, 81, 219, 1) 0%,
    rgba(0, 234, 255, 1) 80%
  );
  background-repeat: no-repeat;
}

.mat-card {
  display: inline-block;
  background: rgba(233, 233, 1233, 1);
  border: 0;
  border-radius: 0;
}

.margin-left {
  margin-left: $size-m;
}

.mat-dialog-container {
  background: rgba(233, 233, 1233, 1);
}

mat-toolbar {
  font-family: "Oswald", sans-serif !important;
}

.primaryTypography {
  font-family: "Oswald", sans-serif !important;
}

.secondaryTypography {
  font-family: "Montserrat", sans-serif !important;
}

.bg-pan {
  background: rgba(89, 81, 219, 0.95);
  background: linear-gradient(
    21deg,
    rgba(89, 81, 219, 1) 0%,
    rgba(0, 234, 255, 1) 80%
  );
  background-repeat: no-repeat;
}
