
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$JobHaven-primary: mat-palette($mat-indigo);
$JobHaven-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$JobHaven-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$JobHaven-theme: mat-light-theme($JobHaven-primary, $JobHaven-accent, $JobHaven-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($JobHaven-theme);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "./themes.scss";
@import "./vars.scss";
@import "./utility.scss";
@import "./mixins.scss";
@import "./animations.scss";

// Plus imports for other components in your app.
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($SearchX-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: white;
  font-family: "Oswald", sans-serif !important;
  background: rgba(233, 233, 233, 1);
}

.mat-card {
  display: inline-block;
  background: rgba(233, 233, 1233, 1);
  border: 0;
  border-radius: 0;
}

.margin-left {
  margin-left: $size-m;
}

.mat-dialog-container {
  background: rgba(233, 233, 1233, 1);
}

mat-toolbar {
  font-family: "Oswald", sans-serif !important;
}


.primaryTypography{
  font-family: "Oswald", sans-serif !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
